*{
    margin: 0px;
    padding: 0px;
}
::placeholder{
    color: #ffffff;
    opacity: .5;
    font-family: Kalinga;
}
.boton{
    text-align: center;
}
#boton_input{
    border: 0;
    color: #212733;
    font-size: 20px;
    margin-top: 10px;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px;
    padding: 2px;
    padding-left:50px ;
    padding-right:50px ;
    background-color: #91fff6;
    font-family: arial;
}
.box{
    background-color: #212733;
}
#div_mostrar_two{
    background-color: #0B0C10;
	height: 0px;
	transition: height .4s;
    color:#ffffff;
    text-align: center;
}
.words_adivine_help{
    color:#FFFFFF;
    font-size: 20px;
    text-align: center;
    font-family: Kalinga;
    margin-top: 20px;
}
.box_words{
    margin-top: 20px;
    background-color: #91fff6;
    border-radius: 50px;
}
.words_one{ 
    font-size: 30px;
    font-family: arial;
    padding: 7px;
    color: #212733;
}
.hiden{
    color: #91fff6;
}
#input_one{
    text-align: center;
    font-size: 25px;
    border:0;
    background-color: #212733;
    border-bottom:#91fff6  solid 1px;
    margin-top: 20px;
    color:#FFFFFF ;
    outline: none;
}
#auto{
    background: #91fff6;
    cursor: pointer;
    text-align: center;
}
#auto_tow{
    background: #0B0C10;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}
#div_mostrar{
    background-color: #91fff6;
	height: 0px;
	transition: height .4s;
    color:#212733;
    text-align: center;
    border-bottom-left-radius:90px ;
    border-bottom-right-radius: 90px;
    padding-bottom: 15px;
}
.guess_tex{
    font-size: 70px;
    font-family: Latha;

}
input,textarea{
    outline: none;
    background-color: #212733;
    color: #FFFFFF;
    border: 0;
    font-family: Kalinga;
}
.input_general{
    font-size: 20px;
    color: #FFFFFF;
    background-color: #212733;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    margin: 5px;
}
.input_general_texarea{
    color: #FFFFFF;
    background-color: #212733;
}
#boton_input_two{
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 5px;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px;
    padding: 2px;
    padding-left:50px ;
    padding-right:50px ;
    background-color: #212733;
    font-family: arial;
}
.box_tres{
    
    color: #FFFFFF;
}